fastapi==0.139.2
uvicorn[standard]==0.35.0

sqlalchemy==2.0.41
alembic==1.16.4
asyncpg==0.30.0
psycopg2-binary==2.9.10
greenlet==3.2.3

pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
email-validator==2.2.0

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-multipart==0.0.20

slowapi==0.1.9
limits==5.4.0

qdrant-client==1.18.0

sentence-transformers==5.0.0
transformers==4.53.3
--extra-index-url https://download.pytorch.org/whl/cpu


numpy==2.3.1
scipy==1.16.0
scikit-learn==1.7.1
networkx==3.4.2
joblib==1.5.1
threadpoolctl==3.6.0

httpx==0.28.1
PyYAML==6.0.2

pypdf==6.14.2